GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
AZURE_TENANT_ID=""
AZURE_CLIENT_ID="app registration"
AZURE_CLIENT_SECRET="app registration"
AZURE_SUBSCRIPTION_ID=""
VALHEIM_STORAGE_ACCOUNT=""
VALHEIM_UAMI_ID="full ARM resource id for managed identity: az identity show -g rg-valheim-core -n id-valheim-vm --query id -o tsv"
VALHEIM_UAMI_CLIENT_ID="managed identity client id"
VALHEIM_SERVER_PASSWORD=""
VALHEIM_SSH_PUBKEY=""